<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<%= usersession.email %>
<a href="logout"><button class="btn btn-primary">Log out</button></a>
<a href="view"><button class="btn btn-primary">View my data</button></a>
</body>
</html>